* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;

}
a{
    text-decoration: none;
    cursor: pointer;
}

.skycolor {
    color: rgb(0, 106, 255);
}

/* navbar code  */
.navbar{
    height: 60px;
}
.navbar-brand ,.navbar-brand span{
    font-family: 'Pacifico', cursive;
}
.navbar-nav .nav-item {
    color: #fff;

}

.navbar-nav .nav-item a:hover {
    color: rgb(0, 106, 255);
    border-bottom: 2px solid rgb(0, 106, 255);

}

/* carousel code  */

.FirstPage{
    padding-top: 60px;
}
.carousel-item video{
    width: 100%;
    object-fit: cover;
    height: 80vh;
}

.carousel-item{
    position: relative;
}
.carousel-caption{
    position: absolute;
    top: 100px;
    left: 0;
    
}
.carousel-caption h1{
    font-weight: bold;
    font-size: 55px;
    text-align: left;
    color: rgb(255, 42, 0);
}
.carousel-caption p{
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    color: rgb(0, 106, 255);
} 
.carousel-caption p i{
    color: rgba(255, 255, 0, 0.799);
}
.act span{
        background-color: #5f5e5e;
        padding: 5px;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;

}




/* movie card code  */


.card {
    position: relative;
    cursor: pointer;

}

.card-body {
    position: absolute;
    top: 0;
    z-index: 10;
}

.card img {
    width: 100%;
    height: 400px;
}

.card-text,
.card-title, .rate {
    display: none;

}
.card-title{
    font-size: 23px;
}

.card img:hover {
    opacity: 0.3;
}

.card img:hover ~ .card-body .card-title,.rate {
    display: block;
    font-weight: bold;
    color: blue;
    
}


/* modal code  */

.modal-body {
    background-color: #c4c3c3;
}

.Mrating i {
    color: rgb(0, 106, 255);
}